@use "../../colors"
@import '../line-styles.css'

header
  position: fixed
  width: 100%
  z-index: 2
  top: 0
  #text-change-alert
    display: inline-block

#edit-text
  width: 98%
  margin: 80px 2%
  font-size: 20px

  .unit-accordion-control
    border-top: 1px solid colors.$unit-meta-border
    padding: 16px 0
    margin-top: 24px
    display: block

  .unit-meta
    grid-column: 1/-1
    border-bottom: 1px solid colors.$unit-meta-border
    margin-bottom: 24px
    p
      font-size: 16px

  .unit
    display: grid
    grid-template-columns: [line-type] 1fr [play-text] 6fr [edit-actions] 1fr
    &.hide
      display: none
    .line-type
      grid-column: line-type
      font-size: 16px
    .caption
      text-align: left
    .speech-header
      margin-top: 0

    [aria-label='editable-text'], [aria-label='edited']
      margin: 10px 0
  
  .add-note
    grid-column: play-text
    background-color: colors.$add-note-bgcolor
    border: 1px solid #ccc
    padding: 10px
    display: none
    &.open
      display: block
    form
      display: flex
      flex-wrap: wrap
      p
        padding-right: 20px
        &.flex2
          flex-grow: 2
        label
          display: block
        textarea
          height: 100px
          width: 100%
        input[type='submit']
          padding: 10px
          font-size: 14px

  .edit-actions
    grid-column: edit-actions
    button
      margin: 0 2px
    button.add-note-button
      background-color: colors.$add-note-button-bgcolor
      color: white
      height: 24px
      border: none
      border-radius: 6px

  .readerGloss:before, .studentNote:before, .performerGloss:before, .performerScansion:before
    content: ''
    width: 18px
    height: 18px
    border-radius: 10px
    position: relative
    display: inline-block
    margin-bottom: -2px
    margin-right: 2px

  .readerGloss:before
    background-color: colors.$reader-text-color
  .studentNote:before
    background-color: colors.$student-text-color
  .performerGloss:before
    background-color: colors.$performer-text-color
  .performerScansion:before
    background-color: colors.$performer-text-color

  .readerGlossContent, .performerGlossContent, .performerScansionContent, .noteOpen
    display: block

#add-unit
  background-color: colors.$add-form-background-color
  position: fixed
  top: 2vh
  left: 10%
  padding: 24px
  box-sizing: border-box
  font-size: 1.25em
  width: 80%
  z-index: 3
  a
    font-size: 0.8em
    text-align: right
    display: block
  textarea
    display: block
    width: 100%
    height: 200px    
  #submit-unit
    border-radius: 6px
    background-color: colors.$add-form-submit-button-color
    border: none
    text-align: center
    color: colors.$add-form-submit-color